{% include 'inc/header.html' %}

<img ... src="{{ url_for('static', filename='/images/Day-and-Night-cycle2.gif') }}" alt="" width="100%" height="90%" style="align-self:center;opacity:0.7;">
<img ... src="{{ url_for('static', filename='/images/Logo1.png') }}" width="25%" height="50%" alt="" style="align-self:center; z-index:1; position:absolute;margin-top:7%;">


<h1 class="titleText" style="align-self:center;z-index:1;position:absolute;margin-top:35%;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">Artificial Forecasting Intelligence</h1>

<!--
credit to ryan sael 
https://cdn.dribbble.com/users/1908417/screenshots/4418228/day_and_night_cycle_by_ryan_sael.gif
-->

<body><!--<img ... src="{{ url_for('static', filename='images/Logo1.png') }}" alt="Logo">-->

<div class="container" style="margin-top:10vh;">
    <div class="logo logo-left">
        <i class="fa fa-flag-o fa-4x"></i>
    </div>
    <p class="title title-left" style="color:black">OUR GOAL</p>
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque necessitatibus recusandae nulla modi
            consequuntur voluptatibus esse quis odio cum quas ad similique quisquam aspernatur deserunt, dolorem
            quibusdam, velit nemo voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sequi. Eveniet, iusto. Impedit illum
            laborum, facilis similique, dolore officia architecto, voluptates tenetur magni tempore nam, in
            eligendi nulla error amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur neque a amet
            ut ratione, repellendus voluptatum sit consequatur vel recusandae, ipsam magnam autem reprehenderit
            iure, deserunt quibusdam fuga. Voluptatem, provident.</p>
    </div>
</div>

<div class="container">
    <p class="title title-right" style="color:black">THE TEAM</p>
    <div class="logo logo-right">
        <i class="fa fa-group fa-4x"></i>
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quia eaque, minus mollitia labore
            voluptatum perferendis ex. Modi reiciendis dicta, nobis veniam minus itaque tempore, laborum impedit, rem
            quas dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quo sit pariatur praesentium
            distinctio ut deleniti repellendus id? In voluptate vel nobis, at maiores exercitationem quam ipsa
            voluptatum eaque odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit animi et vero asperiores repellat tenetur,
            aut dolore voluptas a molestiae iure quidem ex eum quisquam minus quo voluptatem? Dolores, earum.</p>
    </div>
</div>

<div class="container">
    <div class="logo logo-left">
        <i class="fa fa-line-chart fa-4x"></i>
    </div>
    <p class="title title-left" style="color:black">STRATEGY</p>
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nisi praesentium voluptatem, dignissimos
            provident impedit excepturi porro accusantium a, reprehenderit earum incidunt ab repellat minus iusto
            aliquid omnis expedita officiis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, fugiat fuga architecto est impedit itaque
            velit, numquam cumque suscipit nesciunt fugit illo! Libero illum, enim aliquam repellendus aut molestias
            sint!</p>
    </div>
</div>

<div class="container">
    <p class="title title-right" style="color:black">CONTACT US</p>
    <div class="logo logo-right">
        <i class="fa fa-comments-o fa-4x"></i>
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quia eaque, minus mollitia labore
            voluptatum perferendis ex. Modi reiciendis dicta, nobis veniam minus itaque tempore, laborum impedit, rem
            quas dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quo sit pariatur praesentium
            distinctio ut deleniti repellendus id? In voluptate vel nobis, at maiores exercitationem quam ipsa
            voluptatum eaque odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit animi et vero asperiores repellat tenetur,
            aut dolore voluptas a molestiae iure quidem ex eum quisquam minus quo voluptatem? Dolores, earum.</p>
    </div>
</div>
</body>

</html>

{% include 'inc/footer.html' %}